.sessao-primaria {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.texto-priamiro {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: .5rem;
    padding-top: 4rem;
}
.organizacao-texto {
    width: 70%;
}
.texto-priamiro h1 {
    font-size: 2.5rem;
    font-weight: 900;
    overflow: hidden;
}
.btn-primario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.organizacao-texto p {
    padding-bottom: 1rem;
}
.btn-conhecer {
    width: 30%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: var(--color-primaria);
    transition: all .5s;
    cursor: pointer;
}
.btn-produtos {
    color: var(--color-terceiro);
}
.img-principal {
    width: 50%;
    height: 89vh;
    background: url(https://dy5q5k7ty7owl.cloudfront.net/images/new-home/bg-hero-home.webp);
    background-size: cover;
    background-position-x: -250px;
}

/*Efeitos*/
.btn-conhecer:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 5px #daa520, 0 0 25px #daa520, 0 0 50px #daa520, 0 0 200px #daa520;
}

/*Produtos*/
.container-produtos {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 2rem;
}
.sessao-fotos-produtos {
    width: 100%;
    height: 100vh;
    position: relative;
    left: .5rem;
    display: flex;
    align-items: center;
}
.slider {
    width: 90%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: all .5s;
    overflow: hidden;
}
.slider .slide {
    width: 28.5%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: 0.5s;
}
.slider .slide:nth-child(1) {
    width: 50%;
    background: url(https://i.pinimg.com/564x/d7/c9/53/d7c953b4c654eebd1530dc21a25035ad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;

}
.slider .slide:nth-child(2) {
    background: url(https://i.pinimg.com/564x/a8/a4/21/a8a421b47d24121a91585cf284e43b9d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}
.slider .slide:nth-child(3) {
    background: url(https://img.ltwebstatic.com/images3_pi/2022/05/12/165231988565a0ae6f9b8ae2dd0dfd2cb6ed202c71_thumbnail_600x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}
.organizacao-produtos {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width: 90%;
}
.texto-produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-produtos h1 {
    width: 80%;
    padding-bottom: .5rem;
}
.texto-produtos p {
    padding-bottom: 1.5rem;
}
.ul-produtos {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#icon-produtos {
    font-size: 2rem;
    font-weight: 400;
}
.produtos-lista {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.barra-produto {
    width: 1px;
    height: 10vh;
    background: var(--color-primaria);
}
.produtos-lista p {
    font-size: 1.1rem;
    padding-bottom: 0rem;
}
.p-explicacao {
    color: var(--color-links);
}

/*Efeito*/
.slider .slide:hover {
    width: 100%;
    cursor: pointer;
}