* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}
/*Cores primarias*/
:root {
    --color-primaria: #daa520;
    --color-secundaria: #000;
    --color-links: #000000b7;
    --color-terceiro: #fff;
}
/*Marcações*/
strong {
    color: var(--color-primaria);
}